openapi: 3.0.2
x-commons:
  ratelimit-headers:
    X-RateLimit-Limit:
      $ref: '#/components/headers/X-RateLimit-Limit'
    X-RateLimit-Remaining:
      $ref: '#/components/headers/X-RateLimit-Remaining'
    X-RateLimit-Reset:
      $ref: '#/components/headers/X-RateLimit-Reset'
  common-responses:
    '400':
      $ref: '#/components/responses/400BadRequest'
    '429':
      $ref: '#/components/responses/429TooManyRequests'
    '503':
      $ref: '#/components/responses/503ServiceUnavailable'
    default:
      $ref: '#/components/responses/default'
info:
  title: OpenData Emilia Romagna Turismo
  x-summary: Endpoint ufficiale Emilia Romagna turismo
  description: |-
    Questa API permette di consultare i dati che il portale Emilia-Romagna Turismo rende disponibili a tutti gli utenti per favorire il riutilizzo e la nascita di applicazioni da parte di nuovi soggetti e sono rilasciati in (licenza CC-BY)[https://creativecommons.org/licenses/by/4.0/deed.it].

    I dati scaricabili da Emilia-Romagna Turismo possono essere utilizzati per ogni scopo, personale o commerciale, senza alcuna limitazione se non la citazione della fonte e vengono aggiornati dalle Redazioni Locali del Sistema Turistico Regionale con cadenza regolare.

    La sezione **General** raccoglie tutti gli endpoint disponibili del portale Emilia Romagna Turismo a cui è possibile richiedere dati.
    La sezione **Tassonomie** espone la struttura interna del Portale Emilia Romagna Turismo secondo cui è possibile filtrare le proprie richieste all’API.

  version: 1.0.0
  termsOfService: 'https://emiliaromagnaturismo.it/it/note-legali'
  contact:
    email: emiliaromagnaturismo@aptservizi.com
    name: Stefano Vena
    url: 'https://emiliaromagnaturismo.it/it/chi-siamo'
  x-audience:
    - public
  x-api-id: bc3c9511-89b1-46e3-8738-a9f32dd0c203
  license:
    name: Attribuzione 4.0 Internazionale
    url: 'https://creativecommons.org/licenses/by/4.0/'
tags:
  - name: General
    description: Tutti i dati del portale emilia romagna turismo in opendata
  - name: Taxonomies
    description: Tassonomie del portale emilia romagna turismo in opendata
servers:
  - url: 'https://emiliaromagnaturismo.it/opendata/v1'
    description: Servizio ufficiale opendata turistici della Regione Emilia Romagna
paths:
  /status:
    get:
      summary: Ritorna lo stato dell'applicazione.
      description: |
        Ritorna lo stato dell'applicazione. A scopo
        di test, su base randomica puo' ritornare
        un errore.
      operationId: get-status
      tags:
        - General
      responses:
        '200':
          description: |
            Il server ha ritornato lo status. In caso di problemi
            ritorna sempre un problem+json.
        '400':
          $ref: '#/components/responses/400BadRequest'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        default:
          $ref: '#/components/responses/default'
  /cities:
    get:
      tags:
        - Taxonomies
      summary: Cities
      description: Elenco dei comuni disponibili con informazioni sulle province.
      parameters:
        - $ref: '#/components/parameters/istat'
        - $ref: '#/components/parameters/prov'
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: cities-index
  /events/categories:
    get:
      tags:
        - Taxonomies
      summary: Categorie Eventi
      description: |-
        Elenco delle categorie degli eventi.
        Gli eventi oltre ai tematismi hanno una loro tassonomia esclusiva.
      parameters:
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: events-categories-get
  /themes:
    get:
      tags:
        - Taxonomies
      summary: Tematismi
      parameters:
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      description: Elenco degli elementi della tassonomia tematismi
      operationId: thems-get
  /targets:
    get:
      tags:
        - Taxonomies
      summary: Target
      parameters:
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: target-get
      description: Elenco degli elementi della tassonomia target
  /languages:
    get:
      tags:
        - Taxonomies
      summary: Languages
      description: Elenco delle lingue supportate.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: languages-get
  /localities:
    get:
      tags:
        - General
      summary: Località
      description: Elenco delle località.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/istat'
        - $ref: '#/components/parameters/prov'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/updated'
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: localities-get
  /iat:
    get:
      tags:
        - General
      summary: Elenco uffici IAT
      description: Elenco degli uffici di Informazioni e Accoglienza Turistica.
      parameters:
        - $ref: '#/components/parameters/istat'
        - $ref: '#/components/parameters/prov'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/updated'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: iat-get
  /events:
    get:
      tags:
        - General
      summary: Events
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/istat'
        - $ref: '#/components/parameters/city'
        - $ref: '#/components/parameters/prov'
        - $ref: '#/components/parameters/theme'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/updated'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: events-get
      description: Elenco degli eventi attualmente presenti sul portale di emilia romagna turismo.
  /news:
    get:
      tags:
        - General
      summary: News
      description: Elenco delle news.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: news-get
  /interests:
    get:
      tags:
        - General
      summary: Interessi
      description: Elenco delle schede interesse del sito della Regione Emilia Romagna.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/istat'
        - $ref: '#/components/parameters/prov'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/updated'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: interests-get
  /itineraries:
    get:
      tags:
        - General
      summary: Itinerari
      description: Elenco di tutti gli itinerari attualmente disponibili.
      parameters:
        - name: time
          in: query
          schema:
            type: integer
            format: int32
            enum:
              - 24
              - 48
              - 72
            minimum: 24
            maximum: 72
          description: 'I valori disponibili sono 24,48,72'
          example: 48
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/updated'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: itineraries-get
  /poi:
    get:
      tags:
        - Taxonomies
      summary: Point of Interest
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/updated'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: poi-list-get
      description: Elenco delle collezioni di punti di interesse (poi) disponibili.
  '/poi/{code}':
    get:
      tags:
        - General
      summary: Point of Interest
      parameters:
        - $ref: '#/components/parameters/istat'
        - $ref: '#/components/parameters/prov'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/updated'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: poi-single-get
      description: Collezione di punti di interesse.
    parameters:
      - schema:
          type: string
          maxLength: 255
        name: code
        in: path
        required: true
        description: Codice identificativo della collezione.
  /images:
    get:
      tags:
        - General
      summary: Images
      description: Elenco delle immagini accessibili liberamente e inserite nel database di OpenLibrary
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      x-internal: true
      operationId: images-get
  /webcam:
    get:
      tags:
        - General
      summary: WebCam
      description: Elenco delle webcam pubbliche disponibili.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: webcam-get
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
    parameters: []
components:
  headers:
    X-RateLimit-Limit:
      description: The number of allowed requests in the current period
      schema:
        format: int32
        maximum: 1000000
        minimum: 0
        type: integer
    X-RateLimit-Remaining:
      description: The number of remaining requests in the current period
      schema:
        format: int32
        maximum: 1000000
        minimum: 0
        type: integer
    X-RateLimit-Reset:
      description: The number of seconds left in the current period
      schema:
        format: int32
        maximum: 186400
        minimum: 0
        type: integer
    Retry-After:
      description: |-
        Retry contacting the endpoint *at least* after seconds.
        See https://tools.ietf.org/html/rfc7231#section-7.1.3
      schema:
        format: int32
        maximum: 186400
        minimum: 0
        type: integer
  responses:
    200SuccessRequest:
        content:
            application/problem+json:
                schema:
                    $ref: '#/components/schemas/success'
        description: Success
    200SuccessEventListRequest:
        content:
            application/problem+json:
                schema:
                    $ref: '#/components/schemas/EventListSListSuccess'
        description: Success
    200LoginSuccessRequest:
        content:
            application/problem+json:
                schema:
                    $ref: '#/components/schemas/LoginSuccess'
        description: Success
    400BadRequest:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Bad Request
    404NotFound:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Not Found
    429TooManyRequests:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Too many requests
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
    503ServiceUnavailable:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Service Unavailable
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
    default:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Unexpected error
  schemas:
    LoginSuccess:
        properties:
            status:
                type: string
                example: success
            code:
                description: HTTP status code
                example: 200
                type: integer
            data:
                type: object
                properties:
                    token_type:
                        description: tipo di token utilizzato
                        example: Bearer
                        type: string
                    access_token:
                        description: token di accesso
                        example: XXXXXXXX
                        type: string
    EventListSListSuccess:
        properties:
            data:
                type: object
                properties:
                    id:
                        description: ID scheda
                        example: 123456
                        type: integer
                    title:
                        description: titolo Evento in IT
                        example: Diverdeinverde
                    user:
                        description: utente che ha creato l'evento
                        example: Mario Rossi
                    redazione:
                        description: redazione a cui appartiene la scheda
                        example: RL di Rimini
                    status:
                        type: integer
                        example: 1
                        enum:
                            - 1
                            - 2
                            - 3
                            - 4
                        description: |
                            schema valori

                            * 1: Pubblicato
                            * 2: Bozza
                            * 3: Da Validare
                            * 4: Revisione
                    created_at:
                        description: data di creazione
                        type: string
                        format: date
                        example: '2023-02-22 00:00:00'
                    updated_at:
                        description: data di ultimo aggiornamento
                        type: string
                        format: date
                        example: '2023-02-22 00:00:00'
    success:
        title: problem
        additionalProperties: false
        description: |-
            This schema describes RFC7807 Problem Details for HTTP APIs.
            The specification is intentionally flexible, and allows to adapt
            the schema adding further properties, or not enforcing any of the properties
            below.

            To make this schema safe by default, additionalProperties are forbidden though.
            In case you need them, you can either re-define Problem or extend it
            using `allOf`.
        properties:
            status:
                type: string
                example: success
            code:
                description: The HTTP status code
                example: 200
                format: int32
                maximum: 300
                minimum: 200
                type: integer
            data:
                type: object
                properties:
                    id:
                        description: |
                            ID evento salvato
                        example: 39102
                        type: number
                    permalink:
                        description: URL evento
                        example: https://www.emiliaromagnaturismo.it/it/eventi/39102/6772-diverdeinverde-giardini-aperti
                        type: string
                    message:
                        description: |
                            A short, summary of the problem type. Written in english and readable
                            for engineers (usually not suited for non technical stakeholders and
                            not localized): the expressed pattern does not support unicode characters.
                        example: Scheda salvata con successo
                        type: string
        type: object
    latitude:
        title: latitudine
        description: lat
        type: number
        format: float
        example: 12.34
        minimum: -90
        maximum: 90
    longitude:
        title: longitudine
        description: lon
        type: number
        format: float
        example: 56.78
        minimum: -180
        maximum: 180
    contacts_type:
        type: string
        enum:
            - telephone
            - whatsapp
            - email
            - website
        title: tipo di contatto
        description: tipologia di contatto richiesto
    id:
        type: integer
        title: ID
        example: 1234
        description: codice risorsa univoca
    name:
        type: string
        example: nome risorsa
        description: nome della risorsa
    ArrayOfCategories:
        title: categorie eventi
        type: array
        items:
            title: category
            type: object
            properties:
                id:
                    type: integer
                name:
                    type: string
        example:
            - id: 1010
              name: Mostre
            - id: 1001
              name: Cinema
    portal:
        type: array
        description: portale di destinazione
        items:
            type: object
            properties:
                active:
                    type: boolean
                    example: 1
                name:
                    type: string
                    example: Emilia-Romagna
                    enum:
                        - Emilia-Romagna
                        - Emilia
                        - Romagna
    Login:
        type: object
        properties:
            username:
                type: string
                example: redazionelocale
                minLength: 4
            password:
                type: string
                format: password
                minLength: 8
                pattern: '/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])/'
                example: 1234
        required:
            - username
            - password
    Evento:
        type: object
        properties:
            contents:
                type: object
                properties:
                    it:
                        type: object
                        properties:
                            title:
                                type: string
                                example: Diverdeinverde
                            slug:
                                type: string
                                example: 6772-diverdeinverde-giardini-aperti
                                description: se non specificato l'slug viene generato automaticamente
                            subtitle:
                                type: string
                                description: sottotitolo eveto
                            canonical:
                                type: string
                                example: https://www.bolognawelcome.com/en/events/trekking/diverdeinverde-open-gardens
                                description: url canonico
                            pub_date:
                                type: string
                                format: date
                                example: '2023-02-22 00:00:00'
                                description: data di pubblicazione dell'evento. Se non specificata viene utilizzata la data di invio della scheda.
                            description:
                                type: string
                                example: 'Due giorni per scoprire che <strong>Bologna</strong> è un giardino. <br />Ogni anno, in maggio, Bologna apre alla visita i portoni e i cancelli di numerosi giardini privati'
                                description: descrizione evento
                            google:
                                type: object
                                properties:
                                    title:
                                        type: string
                                        example: Diverdeinverde - Giardini aperti
                                    keywords:
                                        type: string
                                        example: Diverdeinverde - Giardini aperti
                                    description:
                                        type: string
                                description: meta dati per ottimizzazione SEO
                        required:
                            - title
                            - description
            locations:
                type: array
                items:
                    type: object
                    properties:
                        address:
                            type: string
                            example: viale Guglielmo Marconi
                        number:
                            type: string
                            example: 12
                        lat:
                            $ref: '#/components/schemas/latitude'
                        lng:
                            $ref: '#/components/schemas/longitude'
                        locality_id:
                            type: number
                            example: 125
                            description: codice localita
                        city:
                            required:
                                - id
                            type: object
                            properties:
                                id:
                                    type: number
                                    example: 194
                                    description: codice città
                                name:
                                    type: string
                                    example: Bologna
                                    description: nome città
                                province:
                                    type: string
                                    example: Bologna
                                    description: provincia città
                                info:
                                    type: object
                                    minProperties: 1
                                    properties:
                                        it:
                                            type: string
                                            example: info extra luogo IT
                                        en:
                                            type: string
                                            example: info extra luogo EN
            dates:
                type: object
                properties:
                    start:
                        type: string
                        format: date
                        example: '2023/05/27'
                    end:
                        type: string
                        format: date
                        example: '2023/05/28'
                    dates:
                        type: array
                        items:
                            type: string
                        example: [2023/05/27,2023/05/28]
                        description: |
                            singole date all'interno dell'intervallo da {start} a {end} che devono essere considerate.
                            Va indicato solo se non devono essere considerati tutti i giorni all'interno dell'intervallo delle date.
                    week:
                        type: array
                        items:
                            type: boolean
                        example: [0,0,0,0,0,1,1]
                        description: |
                            schema giorni della settimana evento.

                            * 0:LUN
                            * 1:MAR
                            * 2:MER
                            * 3:GIO
                            * 4:VEN
                            * 5:SAB
                            * 6:DOM

                            esempio riporta: SAB e DOM
            times:
                type: object
                properties:
                    type:
                        type: string
                        example: 'freetext'
                        enum:
                            - freetext
                            - program
                            - website
                        description: |
                            schema valori ammessi

                            * freetext: Orario libero
                            * program: Rimanda al programma
                            * website: Rimanda al sito
                    freetext:
                        type: object
                        properties:
                            it:
                                type: string
                                example: Descrizione generica degli orari IT
                            en:
                                type: string
                                example: Descrizione generica degli orari EN
            contacts:
                type: object
                properties:
                    it:
                        description: lingua
                        type: array
                        items:
                            type: object
                            properties:
                                label:
                                    type: string
                                type:
                                    $ref: '#/components/schemas/contacts_type'
                                value:
                                    type: string
            category:
                $ref: '#/components/schemas/ArrayOfCategories'
            attachments:
                type: array
                items:
                    type: object
                    required:
                        - url
                        - url_thumb
                        - is_primary
                    properties:
                        url:
                            type: string
                            example: http://d2fg1aan4gy9m1.cloudfront.net/ert/images/4928/Cervia-%28RA%29%2C-Teatro-Comunale-Walter-Chiari%2C-rosone%2C-Archivio-Comune-Cervia-CC-BY-NC-SA-4.0.jpg
                        url_thumb:
                            type: string
                            example: http://d2fg1aan4gy9m1.cloudfront.net/ert/images/4928/conversions/Cervia-%28RA%29%2C-Teatro-Comunale-Walter-Chiari%2C-rosone%2C-Archivio-Comune-Cervia-CC-BY-NC-SA-4.0-thumb.jpg
                        title:
                            type: string
                        copyright:
                            type: string
                            example: Cervia (RA), Teatro Comunale Walter Chiari, rosone, Archivio Comune Cervia
                        license:
                            type: string
                        license_url:
                            type: string
                        is_primary:
                            type: boolean
                            description: indica se è un'immagine di primaria importanza (Es. immagine di copertina)
                            example: 0
            ticketing:
                type: object
                properties:
                    ingresso:
                        type: integer
                        example: 1
                        enum:
                            - 1
                            - 2
                            - 3
                            - 4
                        description: |
                            tipologia di ingresso:

                            - 1: A pagamento
                            - 2: Gratuito
                            - 3: Alcuni eventi a pagamento
                            - 4: Rimanda al sito

                    info:
                        type: object
                        minProperties: 1
                        properties:
                            it:
                                type: object
                                properties:
                                    tariffa_intera:
                                        type: string
                                        example: 10 EUR
                                        description: descrizione tariffa a prezzo pieno
                                    tariffa_gratuita:
                                        type: string
                                        example: bambini sotto i 14 anni
                                        description: descrizione tariffa gratuita
                                    tariffa_ridotta:
                                        type: string
                                        example: universitari
                                        description: descrizione tariffa ridotta
                                    tariffa_abbonamenti:
                                        type: string
                                        example: 5 EUR
                                        description: descrizione tariffa con abbonamento
                                    sito:
                                        type: string
                                        example: https://www.sitoweb.it/evento
                                        description: sito ufficiale dell'evento
                            en:
                                type: object
                                properties:
                                    tariffa_intera:
                                        type: string
                                        example: 10 EUR
                                        description: descrizione tariffa a prezzo pieno
                                    tariffa_gratuita:
                                        type: string
                                        example: children under 14
                                        description: descrizione tariffa gratuita
                                    tariffa_ridotta:
                                        type: string
                                        example: student
                                        description: descrizione tariffa ridotta
                                    tariffa_abbonamenti:
                                        type: string
                                        example: ticket description
                                        description: descrizione tariffa con abbonamento
                                    sito:
                                        type: string
                                        example: https://www.sitoweb.it/evento
                                        description: sito ufficiale dell'evento
            theme:
                type: array
                items:
                    type: object
                    properties:
                        id:
                            $ref: '#/components/schemas/id'
                        name:
                            $ref: '#/components/schemas/name'
                example:
                    - id: 5009
                      name: Arte & Cultura
            portal:
                $ref: '#/components/schemas/portal'
    Problem:
      additionalProperties: false
      description: |-
        This schema describes RFC7807 Problem Details for HTTP APIs.
        The specification is intentionally flexible, and allows to adapt
        the schema adding further properties, or not enforcing any of the properties
        below.

        To make this schema safe by default, additionalProperties are forbidden though.
        In case you need them, you can either re-define Problem or extend it
        using `allOf`.
      properties:
        detail:
          description: |
            A human readable explanation specific to this occurrence of the
            problem. You MUST NOT expose internal informations, personal
            data or implementation details through this field.

            `detail` supports localized patterns whereas `title` pattern is only in ascii.
          example: Request took too long to complete.
          maxLength: 4096
          pattern: '^.{0,1024}$'
          type: string
        instance:
          description: |
            An absolute URI that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
          format: uri
          maxLength: 2048
          type: string
        status:
          description: |
            The HTTP status code generated by the origin server for this occurrence
            of the problem.
          example: 503
          exclusiveMaximum: true
          format: int32
          maximum: 600
          minimum: 100
          type: integer
        title:
          description: |
            A short, summary of the problem type. Written in english and readable
            for engineers (usually not suited for non technical stakeholders and
            not localized): the expressed pattern does not support unicode characters.
          example: Service Unavailable
          maxLength: 64
          pattern: '^[ -~]{0,64}$'
          type: string
        type:
          default: 'about:blank'
          description: |
            An absolute URI that identifies the problem type.  When dereferenced,
            it SHOULD provide human-readable documentation for the problem type
            (e.g., using HTML).
          example: 'https://tools.ietf.org/html/rfc7231#section-6.6.4'
          format: uri
          maxLength: 2048
          type: string
      type: object
  securitySchemes:
      bearerAuth:
          type: http
          scheme: bearer
          bearerFormat: JWT
  parameters:
    lang:
      name: lang
      in: query
      schema:
        type: string
        maxLength: 2
      description: Lingua
      example: it
    istat:
      name: istat
      in: query
      schema:
        type: string
        maxLength: 6
      description: Codice Istat identificativo del comune
      example: '37001'
    city:
      name: city
      in: query
      schema:
        type: string
        maxLength: 255
      description: 'Filtro per nome della città, consulta l''endpoint dei comuni per l''elenco di province e comuni supportati'
      example: ravenna
    prov:
      name: prov
      in: query
      schema:
        type: string
        maxLength: 2
      description: 'Filtro per nome della provincia, consulta l''endpoint dei comuni per l''elenco di province e comuni supportati'
      example: BO
    theme:
      name: theme
      in: query
      schema:
        type: string
        maxLength: 6
      description: 'Codice del tematismo per il quale filtrare'
      example: '5009'
    category:
      name: category
      in: query
      schema:
        type: string
        maxLength: 6
      description: 'Codice della categoria per la quale filtrare'
      example: '1005'
    page:
      name: page
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 99999999
      description: Numero di pagina da interrogare
      example: 1
    limit:
      name: limit
      in: query
      schema:
        type: integer
        format: int32
        minimum: -1
        maximum: 1000
      description: Numero di risultati da restituire per ogni pagina
      example: 1
    updated:
      name: updated
      in: query
      schema:
        type: string
        maxLength: 23
      description: 'Data di aggiornamento. Vengono restituiti tutti i contenuti che siano stati modificati dopo la data inserita. La data va inserita in formato [rfc3339](https://www.ietf.org/rfc/rfc3339.txt)'
      example: '2020-10-06T07:20:50.50Z'
    query:
      name: query
      in: query
      schema:
        type: string
        maxLength: 255
      description: Ricerca con testo libero
      example: Bologna
