openapi: 3.0.2
x-commons:
  ratelimit-headers:
    X-RateLimit-Limit:
      $ref: '#/components/headers/X-RateLimit-Limit'
    X-RateLimit-Remaining:
      $ref: '#/components/headers/X-RateLimit-Remaining'
    X-RateLimit-Reset:
      $ref: '#/components/headers/X-RateLimit-Reset'
  common-responses:
    '400':
      $ref: '#/components/responses/400BadRequest'
    '429':
      $ref: '#/components/responses/429TooManyRequests'
    '503':
      $ref: '#/components/responses/503ServiceUnavailable'
    default:
      $ref: '#/components/responses/default'
info:
  title: OpenData Emilia Romagna Turismo
  x-summary: Endpoint ufficiale Emilia Romagna turismo
  description: |-
    L’obiettivo del presente documento è quello di fornire una breve guida all’uso delle API opendata per il sito di Emilia Romagna Turismo. 
    Per ogni sezione, sarà specificato l’url dell'endpoint e i possibili filtri che si possono applicare.
  version: 1.0.0
  termsOfService: 'https://emiliaromagnaturismo.it/it/note-legali'
  contact:
    email: info@emiliaromagnaturismo.it
    name: Stefano Vena
    url: 'https://emiliaromagnaturismo.it/it/chi-siamo'
  x-audience:
    - General
  x-api-id: bc3c9511-89b1-46e3-8738-a9f32dd0c203
  license:
    name: Condividi allo stesso modo 4.0 Internazionale
    url: 'https://creativecommons.org/licenses/by/4.0/'
tags:
  - name: General
    description: Tutti i dati del portale emilia romagna turismo in opendata
  - name: Taxonomies
    description: Tassonomie del portale emilia romagna turismo in opendata
servers:
  - url: 'https://emiliaromagnaturismo.it/opendata/v1'
    description: Servizio ufficiale opendata turistici della Regione Emilia Romagna
paths:
  /status:
    get:
      summary: Ritorna lo stato dell'applicazione.
      description: |
        Ritorna lo stato dell'applicazione. A scopo
        di test, su base randomica puo' ritornare
        un errore.
      operationId: get-status
      tags:
        - General
      responses:
        '200':
          description: |
            Il server ha ritornato lo status. In caso di problemi
            ritorna sempre un problem+json.
        '400':
          $ref: '#/components/responses/400BadRequest'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        default:
          $ref: '#/components/responses/default'
  /cities:
    get:
      tags:
        - Taxonomies
      summary: Cities
      description: Elenco dei comuni disponibili con informazioni sulle province.
      parameters:
        - $ref: '#/components/parameters/istat'
        - $ref: '#/components/parameters/prov'
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: cities-index
  /events/categories:
    get:
      tags:
        - Taxonomies
      summary: Categorie Eventi
      description: |-
        Elenco delle categorie degli eventi.
        Gli eventi oltre ai tematismi hanno una loro tassonomia esclusiva.
      parameters:
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: events-categories-get
  /themes:
    get:
      tags:
        - Taxonomies
      summary: Tematismi
      parameters:
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      description: Elenco degli elementi della tassonomia tematismi
      operationId: thems-get
  /targets:
    get:
      tags:
        - Taxonomies
      summary: Target
      parameters:
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: target-get
      description: Elenco degli elementi della tassonomia target
  /languages:
    get:
      tags:
        - Taxonomies
      summary: Languages
      description: Elenco delle lingue supportate.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: languages-get
  /localities:
    get:
      tags:
        - General
      summary: Località
      description: Elenco delle località.
      parameters:
        - $ref: '#/components/parameters/istat'
        - $ref: '#/components/parameters/prov'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/updated'
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: localities-get
  /events:
    get:
      tags:
        - General
      summary: Events
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/istat'
        - $ref: '#/components/parameters/city'
        - $ref: '#/components/parameters/prov'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/updated'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: events-get
      description: Elenco degli eventi attualmente presenti sul portale di emilia romagna turismo.
  /news:
    get:
      tags:
        - General
      summary: News
      description: Elenco delle news.
      parameters:
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: news-get
  /interests:
    get:
      tags:
        - General
      summary: Interessi
      description: Elenco delle schede interesse del sito della Regione Emilia Romagna.
      parameters:
        - $ref: '#/components/parameters/istat'
        - $ref: '#/components/parameters/prov'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/updated'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: interests-get
  /itineraries:
    get:
      tags:
        - General
      summary: Itinerari
      description: Elenco di tutti gli itinerari attualmente disponibili.
      parameters:
        - name: time
          in: query
          schema:
            type: integer
            format: int32
            enum:
              - 24
              - 48
              - 72
            minimum: 24
            maximum: 72
          description: 'I valori disponibili sono 24,48,72'
          example: 48
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/updated'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: itineraries-get
  /poi:
    get:
      tags:
        - General
      summary: Point of Interest
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/updated'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: poi-list-get
      description: Elenco delle collezioni di punti di interesse (poi) disponibili.
  '/poi/{code}':
    get:
      tags:
        - General
      summary: Point of Interest
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/updated'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: poi-single-get
      description: Collezione di punti di interesse.
    parameters:
      - schema:
          type: string
          maxLength: 255
        name: code
        in: path
        required: true
        description: Codice identificativo della collezione.
  /images:
    get:
      tags:
        - General
      summary: Images
      description: Elenco delle immagini accessibili liberamente e inserite nel database di OpenLibrary
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      x-internal: true
      operationId: images-get
  /webcam:
    get:
      tags:
        - General
      summary: WebCam
      description: Elenco delle webcam pubbliche disponibili.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: webcam-get
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
    parameters: []
components:
  headers:
    X-RateLimit-Limit:
      description: The number of allowed requests in the current period
      schema:
        format: int32
        maximum: 1000000
        minimum: 0
        type: integer
    X-RateLimit-Remaining:
      description: The number of remaining requests in the current period
      schema:
        format: int32
        maximum: 1000000
        minimum: 0
        type: integer
    X-RateLimit-Reset:
      description: The number of seconds left in the current period
      schema:
        format: int32
        maximum: 186400
        minimum: 0
        type: integer
    Retry-After:
      description: |-
        Retry contacting the endpoint *at least* after seconds.
        See https://tools.ietf.org/html/rfc7231#section-7.1.3
      schema:
        format: int32
        maximum: 186400
        minimum: 0
        type: integer
  responses:
    400BadRequest:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Bad Request
    404NotFound:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Not Found
    429TooManyRequests:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Too many requests
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
    503ServiceUnavailable:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Service Unavailable
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
    default:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Unexpected error
  schemas:
    Problem:
      additionalProperties: false
      description: |-
        This schema describes RFC7807 Problem Details for HTTP APIs.
        The specification is intentionally flexible, and allows to adapt
        the schema adding further properties, or not enforcing any of the properties
        below.

        To make this schema safe by default, additionalProperties are forbidden though.
        In case you need them, you can either re-define Problem or extend it
        using `allOf`.
      properties:
        detail:
          description: |
            A human readable explanation specific to this occurrence of the
            problem. You MUST NOT expose internal informations, personal
            data or implementation details through this field.

            `detail` supports localized patterns whereas `title` pattern is only in ascii.
          example: Request took too long to complete.
          maxLength: 4096
          pattern: '^.{0,1024}$'
          type: string
        instance:
          description: |
            An absolute URI that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
          format: uri
          maxLength: 2048
          type: string
        status:
          description: |
            The HTTP status code generated by the origin server for this occurrence
            of the problem.
          example: 503
          exclusiveMaximum: true
          format: int32
          maximum: 600
          minimum: 100
          type: integer
        title:
          description: |
            A short, summary of the problem type. Written in english and readable
            for engineers (usually not suited for non technical stakeholders and
            not localized): the expressed pattern does not support unicode characters.
          example: Service Unavailable
          maxLength: 64
          pattern: '^[ -~]{0,64}$'
          type: string
        type:
          default: 'about:blank'
          description: |
            An absolute URI that identifies the problem type.  When dereferenced,
            it SHOULD provide human-readable documentation for the problem type
            (e.g., using HTML).
          example: 'https://tools.ietf.org/html/rfc7231#section-6.6.4'
          format: uri
          maxLength: 2048
          type: string
      type: object
  securitySchemes: {}
  parameters:
    lang:
      name: lang
      in: query
      schema:
        type: string
        maxLength: 2
      description: Lingua
      example: it
    istat:
      name: istat
      in: query
      schema:
        type: string
        maxLength: 6
      description: Codice Istat identificativo del comune
      example: '37001'
    city:
      name: city
      in: query
      schema:
        type: string
        maxLength: 255
      description: 'Filtro per nome della città, consulta l''endpoint dei comuni per l''elenco di province e comuni supportati'
      example: ravenna
    prov:
      name: prov
      in: query
      schema:
        type: string
        maxLength: 2
      description: 'Filtro per nome della provincia, consulta l''endpoint dei comuni per l''elenco di province e comuni supportati'
      example: BO
    page:
      name: page
      in: query
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 99999999
      description: Numero di pagina da interrogare
      example: 1
    limit:
      name: limit
      in: query
      schema:
        type: integer
        format: int32
        minimum: -1
        maximum: 99999999
      description: Numero di risultati da restituire per ogni pagina
      example: 1
    updated:
      name: updated
      in: query
      schema:
        type: string
        maxLength: 19
      description: Data di aggiornamento. Vengono restituiti tutti gli eventi che siano stati modificati dopo la data inserita.
      example: '2020-10-06 00:00:00'
    query:
      name: query
      in: query
      schema:
        type: string
        maxLength: 255
      description: Ricerca con testo libero
      example: Bologna
