x-commons:
  ratelimit-headers: &ratelimit-headers
    X-RateLimit-Limit:
      $ref: '#/components/headers/X-RateLimit-Limit'
    X-RateLimit-Remaining:
      $ref: '#/components/headers/X-RateLimit-Remaining'
    X-RateLimit-Reset:
      $ref: '#/components/headers/X-RateLimit-Reset'
  common-responses: &common-responses
    '400':
      $ref: '#/components/responses/400BadRequest'
    '429':
      $ref: '#/components/responses/429TooManyRequests'
    '503':
      $ref: '#/components/responses/503ServiceUnavailable'
    default:
      $ref: '#/components/responses/default'
openapi: 3.0.0
info:
  title: OpenData Emilia Romagna Turismo
  x-summary: >- 
    Endpoint ufficiale Emilia Romagna turismo
  description: >-
    L’obiettivo del presente documento è quello di fornire una breve guida
    all’uso delle API opendata per il sito di Emilia Romagna Turismo. 

    Per ogni sezione, sarà specificato l’url dell'endpoint e i possibili filtri
    che si possono applicare.
  version: 1.0.0
  # I termini del servizio contengono un riferimento
  #   a tutte le indicazioni e le note legali per l'utilizzo
  #   del servizio, inclusi gli eventuali riferimenti utili al GDPR.
  termsOfService: 'http://swagger.io/terms/'
  # Chi posso contattare per informazioni sul servizio e sul suo stato?
  contact:
    email: info@emiliaromagnaturismo.it
    name: Walter Manni
    url: https://emiliaromagnaturismo.it/contatti
  # L'audience delle API. Attualmente e' definito solamente
  #   la tipologia `public`.
  x-audience:
    - public
  # Ogni API deve avere un UUID, invariante nel tempo e
  #   rispetto al `title`.
  x-api-id: bc3c9511-89b1-46e3-8738-a9f32dd0c203
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'  
tags:
  - name: General
    description: Tutti i dati del portale emilia romagna turismo in opendata
  - name: Taxonomies  
    description: Tassonomie del portale emilia romagna turismo in opendata
servers:
  - url: https://emiliaromagnaturismo.it/opendata
    description: Servizio ufficiale opendata turistici della Regione Emilia Romagna
paths:
  /status:
    get:
      summary: Ritorna lo stato dell'applicazione.
      description: |
        Ritorna lo stato dell'applicazione. A scopo
        di test, su base randomica puo' ritornare
        un errore.
      operationId: get_status
      tags:
        - public
      responses:
        <<: *common-responses
        '200':
          description: |
            Il server ha ritornato lo status. In caso di problemi
            ritorna sempre un problem+json.
          # Questi header di throttling sono obbligatori e definiti
          #   nel Nuovo modello di interoperabilità.
          headers:
            <<: *ratelimit-headers
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /cities:
    get:
      tags:
        - Taxonomies
      summary: Cities
      description: Elenco dei comuni disponibili con informazioni sulle province.
      parameters:
        - name: istat
          in: query
          schema:
            type: string
          description: Codice Istat identificativo del comune
          example: '37001'
        - name: prov
          in: query
          schema:
            type: string
          description: Sigla della provincia.
          example: BO
        - name: query
          in: query
          schema:
            type: string
          description: Ricerca con testo libero
          example: Bologna
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /events/categories:
    get:
      tags:
        - Taxonomies
      summary: Categorie Eventi
      description: |-
        Elenco delle categorie degli eventi.
        Gli eventi oltre ai tematismo hanno un aloro tassonomia esclusiva.
      parameters:
        - name: lang
          in: query
          schema:
            type: string
          example: en
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /themes:
    get:
      tags:
        - Taxonomies
      summary: Tematismi
      parameters:       
        - name: lang
          in: query
          schema:
            type: string
          example: en
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /targets:
    get:
      tags:
        - Taxonomies
      summary: Target
      parameters:
        - name: lang
          in: query
          schema:
            type: string
          example: en
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /languages:
    get:
      tags:
        - Taxonomies
      summary: Languages
      description: Elenco delle lingue supportate
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /localities:
    get:
      tags:
        - General
      summary: Località
      description: Elenco dei comuni disponibili con informazioni sulle province.
      parameters:
        - name: istat
          in: query
          schema:
            type: string
          description: Codice istat del comune
          example: '37001'
        - name: prov
          in: query
          schema:
            type: string
          description: Filtro per provincia
          example: PC
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
          description: Numero di risultati da restituire per ogni pagina
          example: 10
        - name: page
          in: query
          schema:
            type: integer
            format: int32
          description: Numero di pagina da interrogare
          example: 10
        - name: updated
          in: query
          schema:
            type: string
          description: >-
            Data di aggiornamento. Vengono restituiti tutti gli eventi che siano
            stati modificati dopo la data inserita.
          example: '2020-10-06 00:00:00'
        - name: ''
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /events:
    get:
      tags:
        - General
      summary: Events
      parameters:
        - name: lang
          in: query
          schema:
            type: string
          description: Lingua
          example: it
        - name: istat
          in: query
          schema:
            type: string
          description: Codice Istat identificativo del comune
          example: '37001'
        - name: city
          in: query
          schema:
            type: string
          description: >-
            Filtro per nome della città, consulta l'endpoint dei comuni per
            l'elenco di province e comuni supportati
          example: ravenna
        - name: prov
          in: query
          schema:
            type: string
          description: >-
            Filtro per nome della provincia, consulta l'endpoint dei comuni per
            l'elenco di province e comuni supportati
          example: 'BO'
        - name: page
          in: query
          schema:
            type: integer
            format: int32
          description: Numero di pagina da interrogare
          example: 1
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
          description: Numero di risultati da restituire per ogni pagina
          example: 1
        - name: updated
          in: query
          schema:
            type: string
          description: >-
            Data di aggiornamento. Vengono restituiti tutti gli eventi che siano
            stati modificati dopo la data inserita.
          example: '2020-10-06 00:00:00'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /news/:id:
    get:
      tags:
        - General
      summary: News
      description: Elenco dei comuni disponibili con informazioni sulle province.
      parameters:
        - name: lang
          in: query
          schema:
            type: string
          description: Lingua
          example: it
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /interests/:
    get:
      tags:
        - General
      summary: Interessi
      description: Elenco dei comuni disponibili con informazioni sulle province.
      parameters:
        - name: istat
          in: query
          schema:
            type: string
          description: Codice istat del comune
          example: '37001'
        - name: prov
          in: query
          schema:
            type: string
          description: Filtro per provincia
          example: PC
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
          description: Numero di risultati da restituire per ogni pagina
          example: 10
        - name: page
          in: query
          schema:
            type: integer
            format: int32
          description: Numero di pagina da interrogare
          example: 1
        - name: updated
          in: query
          schema:
            type: string
          description: >-
            Data di aggiornamento. Vengono restituiti tutti gli eventi che siano
            stati modificati dopo la data inserita.
          example: '2020-10-06 00:00:00'
        - name: ''
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /itineraries:
    get:
      tags:
        - General
      summary: Itinerari
      description: Elenco dei comuni disponibili con informazioni sulle province.
      parameters:
        - name: time
          in: query
          schema:
            type: integer
            format: int32
          description: I valori disponibili sono 24,48,72
          example: 48
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
          description: Numero di risultati da restituire per ogni pagina
          example: 1
        - name: page
          in: query
          schema:
            type: integer
            format: int32
          description: Numero di pagina da interrogare
          example: 1
        - name: updated
          in: query
          schema:
            type: string
          description: >-
            Data di aggiornamento. Vengono restituiti tutti gli eventi che siano
            stati modificati dopo la data inserita.
          example: '2020-10-06 00:00:00'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /poi/:code:
    get:
      tags:
        - General
      summary: Point of Interest
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
          description: Numero di risultati da restituire per ogni pagina
          example: 1
        - name: page
          in: query
          schema:
            type: integer
            format: int32
          description: Numero di pagina da interrogare
          example: 1
        - name: updated
          in: query
          schema:
            type: string
          description: >-
            Data di aggiornamento. Vengono restituiti tutti gli eventi che siano
            stati modificati dopo la data inserita.
          example: '2020-10-06 00:00:00'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /images:
    get:
      tags:
        - General
      summary: Images
      description: Elenco dei comuni disponibili con informazioni sulle province.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
          example: 3
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /webcam/:id:
    get:
      tags:
        - General
      summary: WebCam
      description: Elenco dei comuni disponibili con informazioni sulle province.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}

components:

  headers:
    X-RateLimit-Limit:
      $ref: 'https://teamdigitale.github.io/openapi/0.0.7/definitions.yaml#/headers/X-RateLimit-Limit'
    X-RateLimit-Remaining:
      $ref: 'https://teamdigitale.github.io/openapi/0.0.7/definitions.yaml#/headers/X-RateLimit-Remaining'
    X-RateLimit-Reset:
      $ref: 'https://teamdigitale.github.io/openapi/0.0.7/definitions.yaml#/headers/X-RateLimit-Reset'
    Retry-After:
      $ref: 'https://teamdigitale.github.io/openapi/0.0.7/definitions.yaml#/headers/Retry-After'

  responses:
    # Predefined error codes for this API
    400BadRequest:
      $ref: 'https://teamdigitale.github.io/openapi/0.0.7/definitions.yaml#/responses/400BadRequest'
    404NotFound:
      $ref: 'https://teamdigitale.github.io/openapi/0.0.7/definitions.yaml#/responses/404NotFound'
    429TooManyRequests:
      $ref: 'https://teamdigitale.github.io/openapi/0.0.7/definitions.yaml#/responses/429TooManyRequests'
    503ServiceUnavailable:
      $ref: 'https://teamdigitale.github.io/openapi/0.0.7/definitions.yaml#/responses/503ServiceUnavailable'
    default:
      $ref: 'https://teamdigitale.github.io/openapi/0.0.7/definitions.yaml#/responses/default'

  schemas:
    Problem:
      $ref: 'https://teamdigitale.github.io/openapi/0.0.7/definitions.yaml#/schemas/Problem'
    Timestamps:
      type: object
      description: Un Timestamp in RFC5424
      properties:
        timestamp:
          type: string
          format: date-time
          example: '2018-12-30T12:23:32Z'
